doctype html
html(lang =lang)
    head 
        script(src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js')
        link(href="//cdn-images.mailchimp.com/embedcode/classic-061523.css",rel="stylesheet",type="text/css")
        link(rel='stylesheet', type='text/css', href='static/styles/main.css')
        meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
        title=title
        meta(name="description",content="Mesh – Festival für Kunst und Technologie – Münchenstein / Basel")
        meta(property="og:title" content="Mesh – Festival für Kunst und Technologie – Münchenstein / Basel")
        meta(property="og:description", content="Multisensorische Erfahrungen, interaktive, immersive Erlebnisse und Installationen, Nachdenken über eine freundliche Zukunft")
        meta(property="og:type", content="website")
        meta(property="og:url", content="https://meshfestival.ch")

        meta(property="og:image" content="/static/img/favicon/android-chrome-512x512.png")
        meta(property="og:site_name" content="Mesh – Festival für Kunst und Technologie")

        link(rel="apple-touch-icon",sizes="180x180",href="/static/img/favicon/android-chrome-192x192.png")
        link(rel="icon",type="image/png",sizes="32x32",href="/static/img/favicon/favicon-32x32.png")
        link(rel="icon",type="image/png",sizes="16x16",href="/static/img/favicon/favicon-16x16.png")
        link(rel="mask-icon",href="/static/img/favicon/favicon_23.png",color="#000")
        meta(name="msapplication-TileColor",content="#000")
        meta(name="theme-color",content="#fff")
        link(rel="icon",type="image/png",href="/static/img/favicon/android-chrome-192x192.png")
        meta(name="robots",content="max-image-preview:large")
        meta(name="google-site-verification", content="TNAoxn34J4XEOzd8PTJtXvliDdC8DqZFmlmGiJ4_IxQ")

    body 
        #insta
            a(href="https://instagram.com/meshfestival/",target="_blank").
                @meshfestival
        #unmute 
            img(src="static/img/unmute.svg",onclick="unmute()")
        //#opencall
            a(href="#open").
                Open Call
        div(id="status")
        div(id="members")

        div.columnVideo.mobile
            h2=mobile
            video.mobileVideo(id="video",data-src="https://www.johnsonkingston.ch/MESH/meshfestival_theaftermovie.mp4",autoplay="true",loop="true",muted="true",playsinline="true",poster="static/img/mesh-Festival-videoCover.jpg")        
        //div.bubbles.bubblesLeft.desktop
            .verticalSpace 
            video#bubbleLeftVideo.desktopVideo(data-src="static/videos/01-1-DE.mp4",autoplay="true",loop="true",muted="true",playsinline="true") 
        //div.bubbles.bubblesRight.desktop
            .verticalSpace 
            video#bubbleRightVideo.desktopVideo(data-src="static/videos/02-1-DE.mp4",autoplay="true",loop="true",muted="true",playsinline="true") 
        div.columnBackground.desktop

        script.
            function videoLoad(){ 
                //if($(window).width()<$(window).height()){
                    //$('.desktop').css('display','none');
                    $('.mobileVideo').attr('src',$('.mobileVideo').attr('data-src'));  
                    $('.mobileVideo').attr('id','mainVideo');  

                //- }else{
                //-     $('.mobile').css('display','none');
                //-     $('.desktopVideo').each(function( index ) {
                //-         $(this).attr('src',$(this).attr('data-src'));                 
                //-     });
                //-     $('.desktopVideo').first().attr('id','mainVideo');  

                //- }
            }
            videoLoad();
        div.column
            //h2#headline.H2desktop.stickyNavItem(onclick="scrolltoContent('headlineContent');")
                a(href="#headlineContent"). 
                    Mesh
            div#headlineContent.headline.section
                //h2#headline.mobileH2
                    a(href="#headlineContent"). 
                        Mesh
                h1=headline
            h2#statement.H2desktop.stickyNavItem(onclick="scrolltoContent('statementContent');")
                a(href="#statementContent")=statement      
            div#statementContent.statement.section
                h2#headline.mobileH2
                    a(href="#statementContent")=statement        
                h1=theme
                 
                h3
                    p !{statementContent.replace(/\n/g, "</p><p>")}

            h2.H2desktop.stickyNavItem(onclick="scrolltoContent('programContent');")
                a(href="#programContent")=program
            #programContent.program.section 
                h2.mobileH2
                    a(href="#programContent")=program
                h1 !{programContent.replace(/\n/g, "<br />")}
 
            h2.H2desktop.stickyNavItem(onclick="scrolltoContent('contactContent');")
                a(href="#contactContent")=contact
            div#contactContent.contact.section
                h2.mobileH2
                    a(href="#contactContent")=contact
                h3 !{contactContent.replace(/\n/g, "<br />")}
                h3 !{pressContact.replace(/\n/g, "<br />")}
                //h1#open. 
                    !{openCall.replace(/\n/g, "<br />")}
                //h3 !{openCallContent.replace(/\n/g, "<br />")}
                //li.submit
                    a(href="https://forms.gle/LRHhwimD48FyQKsc6",target="_blank").
                        Submit
                h1. 
                    !{follow.replace(/\n/g, "<br />")}
                li.submit
                    a(href="https://instagram.com/meshfestival/",target="_blank").
                        @meshfestival
            h2.H2desktop.stickyNavItem(onclick="scrolltoContent('newsletterContent');")
                a(href="#newsletterContent").
                    Newsletter        
            div#newsletterContent.newsletter.section
                h2.mobileH2
                    a(href="#newsletterContent").
                        Newsletter                     
                h3 !{newsletterContent.replace(/\n/g, "<br />")}
               
                //MAILCHIMP
                div <div id="mc_embed_shell"><div id="mc_embed_signup"><form action="https://meshfestival.us9.list-manage.com/subscribe/post?u=559479f5c526b5d3100a3b277&amp;id=8a5c55bc1a&amp;f_id=00691ee1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"><div id="mc_embed_signup_scroll"><div class="indicates-required"></div><div class="mc-field-group"><label for="mce-EMAIL">E-Mail<span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span></div><div class="mc-field-group"><label for="mce-FNAME">Vorname</label><input type="text" name="FNAME" class="text" id="mce-FNAME" value=""></div><div class="mc-field-group"><label for="mce-LNAME">Nachname</label><input type="text" name="LNAME" class="text" id="mce-LNAME" value=""></div><div id="mce-responses" class="clear foot"><div class="response" id="mce-error-response" style="display:none"></div><div class="response" id="mce-success-response" style="display:none"></div></div><div aria-hidden="true" style="position:absolute;left:-5000px">/* real people should not fill this in and expect good things - do not remove this or risk form bot signups */ <input type="text" name="b_559479f5c526b5d3100a3b277_8a5c55bc1a" tabindex="-1" value=""></div><div class="optionalParent"><div class="clear foot"><input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe"><p style="margin:0 auto;display:none;"><a href="http://eepurl.com/iDa5fs" title="Mailchimp – Einfaches, schnelles E-Mail-Marketing"><span style="display:inline-block;background-color:transparent;border-radius:4px"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width:220px;height:40px;display:flex;padding:2px 0;justify-content:center;align-items:center"></span></a></p></div></div></div></form></div><script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">jQuery,window.fnames=new Array,window.ftypes=new Array,fnames[0]="EMAIL",ftypes[0]="email",fnames[1]="FNAME",ftypes[1]="text",fnames[2]="LNAME",ftypes[2]="text",fnames[3]="ADDRESS",ftypes[3]="address",fnames[4]="PHONE",ftypes[4]="phone",fnames[5]="BIRTHDAY",ftypes[5]="birthday";var $mcj=jQuery.noConflict(!0)</script></div>





                .logos
                    // h3 !{infos.replace(/\n/g, "<br />")}

                    span=initiative
                        br
                    a(href="https://www.hek.ch",target="_blank")
                        img.logoNoPadding(src="static/img/hek.svg")
                    a(href="https://iart.ch/",target="_blank")
                        img.logoNoPadding(src="static/img/iart.svg")
                    a(href="https://www.fhnw.ch/hgk",target="_blank")
                        img(src=fhnw)
                        br
                    span=sponsor
                        br
                    a(href="http://www.swisslosfonds.bs.ch/",target="_blank",title="Swisslos BS")
                        img.logoNoPadding(src="static/img/swisslos-bs.svg", alt="Logo Swisslos").logofooter  
                    a(href="https://www.baselland.ch/politik-und-behorden/direktionen/sicherheitsdirektion/swisslos-fonds",target="_blank",title="Swisslos BL")
                        img.logoNoPadding(src="static/img/swisslos-bl.svg", alt="Logo Swisslos BL").logofooter  
                    a(href="https://www.cms-basel.ch/",target="_blank",title="CMS")
                        img.logoNoPadding(src="static/img/cms.svg", alt="Logo CMS").logofooter  
                    a(href="https://www.ernst-goehner-stiftung.ch",target="_blank",title="Ernst Göhner Stiftung")
                        img.logoNoPadding(src="static/img/EGS_Schriftzug_2_weiss.svg", alt="Logo EGS").logofooter  
                    a(href="https://prohelvetia.ch/",target="_blank",title="ProHelvetia")
                        img.logoNoPadding(src="static/img/PRH_CD_RGB_white_DE_LOGO.svg", alt="Logo Prohelvetia").logofooter     
                    a(href="https://www.mobiliar.ch/",target="_blank",title="Mobiliar")
                        img.logoNoPadding(src="static/img/MOB_d_RGB_weiss.svg", alt="Logo Mobiliar").logofooter  
                    a(href="https://www.kbhg.ch/",target="_blank",title="KBHG")
                        img(src="static/img/kbhg.svg", alt="Logo KBHG").logofooter  
                    a(href="https://www.swissuniversities.ch/",target="_blank",title="Swissuniversities")
                        img(src="static/img/swissuniversities.svg", alt="Logo Swissuniversities").logofooter.logofooterlang
                        br



                    span=kooperationspartner
                        br
                    a(href="https://www.musik-akademie.ch/klassik/de/projekte-und-ensembles/elektronisches-studio-basel.html",target="_blank",title="Elektronisches Studio Basel")
                        img.logoNoPadding(src="static/img/elektronisches-studio-basel.svg", alt="Logo Elektronisches Studio Basel").logofooter.logofooterlang
                    a(href="https://radiox.ch/",target="_blank",title="Radio X")
                        img.logoNoPadding(src="static/img/radio-x.svg", alt="Logo Radio X").logofooter  
                    a(href="https://derivative.ca/",target="_blank",title="Touchdesigner")
                        img(src="static/img/touchdesigner.svg", alt="Logo Touchdesigner").logofooter  
                        br

                    span=medienpartner
                        br
                    a(href="https://radiox.ch/",target="_blank",title="Radio X")
                        img(src="static/img/radio-x.svg", alt="Logo Radio X").logofooter   
                    a(href="https://basellive.ch",target="_blank",title="Radio X")
                        img(src="static/img/basel-live.svg", alt="Basel Live").logofooter   
                    a(href="https://www.filmexplorer.ch/",target="_blank",title="Film Explorer")
                        img(src="static/img/filmexplorer.png", alt="Film Explorer").logofooter.logofooterlang
                        br


                    span=hostingparter
                        br
                    a(href="https://kunsthausbaselland.ch/",target="_blank",title="Kunsthaus Baselland")
                        img.logoNoPadding(src="static/img/kunsthaus-baselland.svg", alt="Logo Kunsthaus Baselland").logofooter.logofooterlang  
        
                    a(href="https://ateliermondial.com/",target="_blank",title="Atelier Mondial")
                        img.logoNoPadding(src="static/img/AMLOGO_Size0_BLACK_Outline.svg",loading="lazy", alt="Logo Atelier Mondial").logofooter.logofootersquare 
                    a(href="https://kabinett.com/",target="_blank", title="Kabinett")
                        img.logoNoPadding(src="static/img/KABINETT_LOGO_V-1.svg",loading="lazy", alt="Logo Kabinett").logofooter.logofootersquare 
                    a(href="https://www.herzogdemeuron.com/",target="_blank",title="Herzog&DeMeuron")
                        img.logoNoPadding(src="static/img/herzogdemeuron.svg", alt="Logo Herzog&DeMeuron").logofooter.logofooterlang
                    a(href="https://www.sfgbasel.ch/",target="_blank",title="SFG")
                        img.logoNoPadding(src="static/img/sfg_zentriert.svg",loading="lazy", alt="Logo SFG").logofooter.logofootersquare                                 
                    a(href="https://civic.hgk.fhnw.ch/",target="_blank",title="Civic")
                        img.logoNoPadding(src="static/img/CIVIC-LOGO-WHITE.png",loading="lazy", alt="Logo Civic").logofooter
                    a(href="https://fluxdock.io",target="_blank",title="Fluxdock")
                        img(src="static/img/fluxdock.svg",loading="lazy", alt="Logo Fluxdock").logofooter


                        br
                    .imprint !{imprintContent.replace(/\n/g, "<br />")}

                    .credits
                        div
                            u.
                                Video credits
                        
            
                    div.footer
                        a(href="static/html/datenschutz.html" target="_blank")=disclaimer
                            br
                        a(href="https://www.instagram.com/meshfestival/",target="_blank")
                            img(src="static/img/icons/sm-icon-02.svg")
                        a(href="https://www.linkedin.com/company/meshfestival",target="_blank")
                            img(src="static/img/icons/sm-icon-01.svg")
                        a(href="https://www.facebook.com/meshfestival/",target="_blank")
                            img(src="static/img/icons/sm-icon-03.svg")                        
        #lang
            a(href =(translation))=translation
        .videoSubtitleWrap(data-max="11")
        #cookieNotice.light.display-right(style='display: none;')
            #closeIcon(style='display: none;')
            .title-wrap
                h4 Cookie Consent
            .content-wrap
                .msg-wrap
                p
                    | By continuing to browse this site, you agree to the use of cookies. We use cookies to analyse web traffic. 
                    a(href='/static/html/datenschutz.html') Privacy Policy
                .btn-wrap
                    button.btn-primary(onclick='acceptCookieConsent();') Accept



        script. 
            let colors = !{JSON.stringify(colors)}
            var lang = 'EN';
            if('!{translation}' == 'EN'){
                lang = 'DE';
            }
        script(src='static/script/main.js')
        script(type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
        script(type='text/javascript').
            (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);

